#login {
    input {
        width: 50%;
    }
    button {
        background: #fc4141;
        padding: 10px 30px;
        outline: none;
        color: #fff;
        margin: 1rem auto;
    }
    h1{
        font-size: .4rem;
    }
}