#search {
    header {
        height: .8rem;
        background: #fff;
        border-bottom: 1px solid #ccc;
        line-height: .8rem;
        position: relative;
        span{
            position: absolute;
            left: .1rem;
            top: 0;
            font-size: .4rem;
        }
        input {
            padding: .15rem 0;
            background: #f6f6f6;
            outline: none;
            border-width: 0;
            -webkit-appearance: none;
        }
        button {
            outline: none;
            -webkit-appearance: none;
            border-radius: 0;
            border-width: 0;
            background: 0;
            padding: 0 .1rem;
        }
    }
    .recent-search {
        p {
            font-size: .3rem;
            padding: .4rem .3rem;
            span {
                float: right;
                font-size: .4rem;
            }
        }
        ul {
            li {
                padding: .1rem .23rem;
                border: 1px solid #999;
                font-size: .3rem;
                color: #333;
                display: inline-block;
                border-radius: 10px;
                margin-left: .3rem;
            }
        }
    }
    .common-search {
        p {
            font-size: .3rem;
            padding: .4rem .3rem;
        }
        ol {
            li {
                padding: .1rem .23rem;
                border: 1px solid #999;
                font-size: .3rem;
                color: #333;
                display: inline-block;
                border-radius: 10px;
                margin-left: .3rem;
                margin-bottom: .3rem;
            }
        }
    }
}